@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.main-container {
  background-color: rgb(218, 214, 214);
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    margin: 0 auto; /* Centers the container */
  }

  .header {
    max-width: 100%;
    /* background-color: ; */
  }

  .hero-header {
    position: absolute;
    bottom: 3rem;
    /* left: 1rem; */
    text-align: right;
    background-color: rgba(31, 41, 55, 0.8); /* 50% transparent black */
    padding: 1em;
    padding-left: 1.5em;
  }

  .hero-header-text {
    font-family: "Oswald", sans-serif;
    font-size: calc(32px + 0.390625vw);
    font-weight: 700;
    color: #eef0f2;
    /* text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
    -webkit-font-smoothing: antialiased;
  }

  .hero-sub-text {
    font-family: Roboto, serif;
    font-size: calc(14px + 0.390625vw);
    font-weight: 400;
    color: #eef0f2;
    /* text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
    -webkit-font-smoothing: antialiased;
  }

  .hero-sub-text-2 {
    font-family: Roboto, serif;
    font-size: calc(12px + 0.390625vw);
    font-weight: 400;
    color: #eef0f2;
    /* text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
    -webkit-font-smoothing: antialiased;
    line-height: 1.4em;
  }
}

@media (min-width: 1024px) {
  /* Default container styling */
  .container {
    max-width: 100%;
    margin: 0 auto; /* Centers the container */
  }

  .header {
    max-width: 100%;
    /* background-color: ; */
  }

  .hero-header {
    position: absolute;
    bottom: 5rem;
    /* left: 5rem; */
    text-align: right;
    background-color: rgba(31, 41, 55, 0.8); /* 50% transparent black */
    padding: 2em;
    padding-left: 8em;
  }
  .hero-header-text {
    font-family: "Raleway", sans-serif;
    font-size: min(max(56px, 2vw), 60px);
    font-weight: 700;
    color: #eef0f2;
    /* text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
    -webkit-font-smoothing: antialiased;
  }

  .hero-sub-text {
    font-family: "Raleway", sans-serif;
    font-size: min(max(20px, 2vw), 24px);
    font-weight: 400;
    color: #eef0f2;
    /* text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
    -webkit-font-smoothing: antialiased;
  }

  .hero-sub-text-2 {
    font-family: "Raleway", sans-serif;
    font-size: min(max(16px, 2vw), 20px);
    font-weight: 400;
    color: #eef0f2;
    /* text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
      #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px; */
    -webkit-font-smoothing: antialiased;
    line-height: 1.4em;
  }
}

/* When the viewport is larger than 2000px, constrain the width */
@media (min-width: 2000px) {
  .container {
    max-width: 2000px;
    background-color: #c0c0c0;
  }

  .header {
    max-width: 2000px;
    background-color: #1f2937;
  }
}

.about-header {
  font-family: "Raleway", sans-serif;
  font-size: min(max(40px, 2vw), 42px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}

.about-stack-header {
  font-family: "Raleway", sans-serif;
  font-size: min(max(16px, 2vw), 20px);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 1.3em;
  color: rgb(21, 59, 80);
}

.about-p {
  font-family: "Raleway", sans-serif;
  font-size: min(max(12px, 2vw), 16px);
  line-height: 1.2em;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

.about-p-title {
  font-family: "Raleway", sans-serif;
  font-size: min(max(14px, 2vw), 18px);
  line-height: 1.3em;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  color: rgb(28, 11, 25);
}

.pokedex-entry {
  font-family: Roboto, serif;
  font-size: medium;
  font-optical-sizing: auto;
  font-weight: 400;
}

.pokedex-entry-title {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(15px + 0.390625vw);
}

.pokedex-entry-2 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(8px + 0.390625vw);
}

.pokedex-entry-text {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(6px + 0.390625vw);
}

.selected-pokedex-entry-text {
  font-family: "Press Start 2P", serif;
  font-weight: 800;
  font-style: normal;
  font-size: calc(6px + 0.390625vw);
}

.weather-temp {
  color: #eef0f2;
  font-family: "Recursive", sans-serif;
  font-size: calc(10px + 0.390625vw);
}

.weather-footer {
  color: #eef0f2;
  font-family: "Recursive", sans-serif;
  font-size: calc(8px + 0.390625vw);
}

.description {
  color: #eef0f2;
  font-family: "Recursive", sans-serif;
  font-size: calc(12px + 0.390625vw);
  font-weight: 600;
}

.portfolio-text {
  color: #eef0f2;
  font-family: Roboto, serif;
  font-size: calc(12px + 0.390625vw);
  font-weight: 600;
}

.weather-header {
  color: #eef0f2;
  font-size: calc(18px + 0.390625vw);
  font-family: "Recursive", sans-serif;
}

/* Nav Bar Classes */
.nav-text {
  font-family: "Raleway", sans-serif;
  font-size: min(max(20px, 2vw), 16px);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 600;
  line-height: 1.3em;
  color: #eef0f2;
}

/* Footer classes */
.footer-link {
  font-family: "Raleway", sans-serif;
  font-size: min(max(16px, 2vw), 20px);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 1.3em;
  color: #eef0f2;
}

.footer-header {
  font-family: Roboto, serif;
  font-size: min(max(30px, 2vw), 34px);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.1em;
  color: #eef0f2;
}

.footer-sub-header {
  font-family: Roboto, serif;
  font-size: min(max(20px, 2vw), 24px);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.2em;
  color: #eef0f2;
  font-style: italic;
}

.footer-text {
  font-family: Roboto, serif;
  font-size: min(max(12px, 2vw), 14px);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.2em;
  color: #eef0f2;
}

.portfolio-heading {
  font-family: "Raleway", sans-serif;
  font-size: min(max(14px, 2vw), 18px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}

.project-button {
  background-color: #153b50;
  cursor: default;
}

.portfolio-p {
  font-family: "Raleway", sans-serif;
  font-size: min(max(12px, 2vw), 14px);
  line-height: 1.2em;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

.contact-header {
  font-family: "Raleway", sans-serif;
  font-size: min(max(50px, 2vw), 54px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}

.contact-p {
  font-family: "Raleway", sans-serif;
  font-size: min(max(16px, 2vw), 20px);
  line-height: 1.2em;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

.three-p-card-title {
  font-family: "Raleway", sans-serif;
  font-size: min(max(3px, 2vw), 36px);
  line-height: 1.2em;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
}

.three-p-header {
  font-family: "Raleway", sans-serif;
  font-size: min(max(26px, 2vw), 30px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.4em;
}

.three-p-p {
  font-family: "Raleway", sans-serif;
  font-size: min(max(20px, 2vw), 24px);
  line-height: 1.2em;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* Keyframe Animations */
@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease-out forwards;
  opacity: 0; /* Hidden by default */
}

.animate-fade-in-up.delay-200 {
  animation-delay: 0.2s;
}

.animate-fade-in-up.delay-400 {
  animation-delay: 0.4s;
}

.animate-fade-in-up.delay-600 {
  animation-delay: 0.6s;
}

.animate-fade-in-up.delay-800 {
  animation-delay: 0.8s;
}

.animate-fade-in-up.delay-1000 {
  animation-delay: 1s;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.4s ease-out forwards;
  opacity: 0; /* Hidden by default */
}

.animate-fade-in-down.delay-200 {
  animation-delay: 0.2s;
}

.animate-fade-in-down.delay-400 {
  animation-delay: 0.4s;
}

.animate-fade-in-down.delay-600 {
  animation-delay: 0.6s;
}

.animate-fade-in-down.delay-800 {
  animation-delay: 0.8s;
}

.animate-fade-in-down.delay-1000 {
  animation-delay: 1s;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fade-in-right 0.8s ease-out forwards;
  opacity: 0; /* Hidden by default */
}

.animate-fade-in-right.delay-200 {
  animation-delay: 0.2s;
}

.animate-fade-in-right.delay-400 {
  animation-delay: 0.4s;
}

.animate-fade-in-right.delay-600 {
  animation-delay: 0.6s;
}

.animate-fade-in-right.delay-800 {
  animation-delay: 0.8s;
}

.animate-fade-in-right.delay-1000 {
  animation-delay: 1s;
}

.animatedBox {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animatedBox.visible {
  opacity: 1;
  transform: translateY(0);
}

.animatedBoxRight {
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animatedBoxRight.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Base styles for the elements that will be animated */
.animated-child {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/*
  When the parent container has the 'in-view' class,
  trigger the animations on the children.
*/
.in-view .animated-child {
  opacity: 1;
  transform: translateY(0);
}

/* Base styles for the elements that will be animated */
.animated-child-right {
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/*
  When the parent container has the 'in-view' class,
  trigger the animations on the children.
*/
.in-view .animated-child-right {
  opacity: 1;
  transform: translateX(0);
}

.delay-1 {
  transition-delay: 0s;
}

.delay-2 {
  transition-delay: 0.3s; /* Delay the second element by 300ms */
}

.delay-3 {
  transition-delay: 0.6s; /* Delay the second element by 300ms */
}

.delay-4 {
  transition-delay: 0.9s; /* Delay the second element by 300ms */
}
