@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hero-header {
  font-family: Roboto, serif;
  font-size: calc(60px + 0.390625vw);
  font-weight: 700;
  color: white;
  text-shadow: #000 0px 0px 4px, #000 0px 0px 4px, #000 0px 0px 4px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
}

.hero-sub-text {
  font-family: Roboto, serif;
  font-size: calc(18px + 0.390625vw);
  font-weight: 400;
  color: white;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
}

.hero-sub-text-2 {
  font-family: Roboto, serif;
  font-size: calc(15px + 0.390625vw);
  font-weight: 400;
  color: white;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px,
    #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
}

.about-header {
  font-family: Roboto, serif;
  font-size: calc(20px + 0.390625vw);
  font-style: normal;
  font-weight: 700;
}

.about-stack-header {
  font-family: Roboto, serif;
  font-size: calc(14px + 0.390625vw);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
}

.about-p {
  font-family: Roboto, serif;
  font-size: calc(12px + 0.390625vw);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

.pokedex-entry {
  font-family: Roboto, serif;
  font-size: medium;
  font-optical-sizing: auto;
  font-weight: 400;
}

.pokedex-entry-title {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(15px + 0.390625vw);
}

.pokedex-entry-2 {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(8px + 0.390625vw);
}

.pokedex-entry-text {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(6px + 0.390625vw);
}

.selected-pokedex-entry-text {
  font-family: "Press Start 2P", serif;
  font-weight: 800;
  font-style: normal;
  font-size: calc(6px + 0.390625vw);
}

.weather-temp {
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: calc(10px + 0.390625vw);
}

.weather-footer {
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: calc(8px + 0.390625vw);
}

.description {
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: calc(12px + 0.390625vw);
  font-weight: 600;
}

.portfolio-text {
  color: whitesmoke;
  font-family: Roboto, serif;
  font-size: calc(12px + 0.390625vw);
  font-weight: 600;
}

.weather-header {
  color: whitesmoke;
  font-size: calc(18px + 0.390625vw);
  font-family: "Recursive", sans-serif;
}
